$color-base: #000;
$color-link: #514c47;
$color-text: #505050;
$color-background: #fff;
$color-background_02: #e1eef2;
$color-background_alert: #feecec;
$color-background_footer: #57afc7;

$color-blue: #4b76e3;
$color-green: #6ba97b;
$color-alert: #f14747;

